.content {
  width: calc(100% - 40px);
  display: flex;
  text-align: center;
  flex-grow: 1;
}

.actions {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;
}
